.topic-note{
  color: #666666;
  border-top: solid 1.5px #dddddd;
  margin-top: 25px;
  padding-top: 10px;
  #note-title{
    font-weight: bold;
  }
  a[data-target="#note-editor"]{
    cursor: pointer;
    color: #666666;
  }
  #note-adder{
    font-style: italic;
    font-size: 13px;
    a{
      font-weight: bold;
      color: #666666;
    }
  }
}
.topic-note.empty{
  border: none;
  #note-title, #note{
    display: none;
  }
}
.necro-post{
  display: none;
}
.votes-topic{
  border-top: solid 1px #eeeeee;
  padding-top: 20px;
  padding-left: 61px;
  margin-top: 10px;
}
.post-tools{
  margin-right: 20px;
  span{
    margin-right: 10px;
    color: #666666;
    cursor: pointer;
  }
}
.posts-list-item.locked{
  opacity: 0.3;
}
.isPinned{

}