.votes-topic{
  .btn-group{
    margin-right: 15px;
    button:first-child{
      border-radius: 5px 0px 0px 5px;
    }
    button:last-child{
      border-radius: 0px 5px 5px 0px;
    }
    button.btn.disabled{
      opacity: 1;
    }
    button{
      font-size: 18px;
      font-weight: bold;
      i{
        font-size: 18px;
        color: #666666;
      }
    }
  }
}