#threadTool-button{
  color: #6c757d;
  font-size: 14px;
  cursor: pointer;
}
#postMenu-button{
  margin-left: 30px;
  margin-right: 10px;
}
#stat-container{
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 15px;
  color: #6c757d;
  font-size: 14px;
}
.vr{
  border-left:1px solid #6c757d;
  margin-left: 10px;
  margin-right: 10px;
}
#optionalData-discountPrice {
  color: #337ab7;
  font-size: 30px;
  font-weight: bold;
}

#optionalData-price {
  color: #6c757d;
  font-size: 20px;
  text-decoration: line-through;
}

#moreInfo {
  margin-top: 10px;
}

#moreInfo li {
  border-left: none;
  border-right: none;
}

#moreInfo .optional-data-title {
  color: #6c757d;
}

#moreInfo .optional-data-content {
  color: #337ab7;
  font-weight: bold;
}
#optionalData-dealUrl{
  margin-top: 6px;
  width: 100%;
}
#optionalData-thumb{
  width: 100%;
}
#optionalData-thumb #myCarousel .carousel-control{
  display: flex;
  justify-content: center;
  align-items: center;
}
#optionalData-thumb #myCarousel .carousel-inner{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#optionalData-discountPercentage{
  position: absolute;
  z-index: 1;
  background-color: #eb4d4b;
  padding: 6px 7px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
#optionalData-dealUrl {
  font-weight: bold;
  text-transform: uppercase;
}

#optionalData-info {
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding-top: 6px;
  color: #333333;
}
#btnAddImage{
  margin-top: 20px;
}
#addImagesModal .info, #btnUpload, #urlInput{
  margin-bottom: 10px;
}
#addImagesModal .info{
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #337ab7;
}
#imageListPreview{
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}